<div style="margin-bottom: 15px;">
    <div class="input-group col-md-6">
        <input ng-model="keyword" type="text" class="form-control" placeholder="Từ khóa..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-sm btn-gradient-primary" type="button" ng-click="search()">Tìm kiếm</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Danh mục sản phẩm  
                    <button ui-sref="product_category_add" style="float: right" type="button" class="btn btn-outline-primary btn-sm">Thêm mới</button>
                </div>
                <p class="card-description">
                    Tổng số danh mục: {{totalCount}}
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên danh mục</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th style="text-align: center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in productCategories">
                            <td style="width: 5%">{{item.ID}}</td>
                            <td style="width: 40%">{{item.Name}}</td>
                            <td style="width: 30%">{{item.CreatedDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td style="width: 10%">
                                <label ng-class="{'badge badge-danger':item.Status==true, 'badge badge-success':item.Status==false}">
                                    {{item.Status | statusFilter}}
                                </label>
                            </td>
                            <td>
                                <button style="margin: 3px;" class="btn btn-outline-success btn-rounded btn-icon"><i class="mdi mdi-table-edit"></i></button>
                                <button style="margin: 3px;" class="btn btn-outline-danger btn-rounded btn-icon"><i class="mdi mdi-delete"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductCategories(page)"></pager-directive>
            </div>
        </div>
    </div>
</div>
</div>