<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display: inline">
        <button ng-hide="(page == 0)" ng-click="(search(0))" type="button" class="btn btn-outline-success btn-rounded btn-icon">
            First
        </button>
        <button ng-hide="(page == 0)" ng-click="(search(page - 1))" type="button" class="btn btn-outline-success btn-rounded btn-icon">
            Pre
        </button>
        <button style="margin: 3px" ng-repeat="n in range()" ng-click="(search(n))" type="button" class="btn btn-outline-success btn-rounded btn-icon {{n == page? 'active' : ''}}">
            {{n + 1}}
        </button>        
        <button ng-hide="(page == pagesCount - 1)" ng-click="(search(pagePlus(1)))"  type="button" class="btn btn-outline-success btn-rounded btn-icon">
            Next
        </button>
        <button ng-hide="(page == pagesCount - 1)" ng-click="(search(pagesCount - 1))" type="button" class="btn btn-outline-success btn-rounded btn-icon">
            Last 
        </button>
    </div>
</div>