
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Assets/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Assets/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/content/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/Admin/css/style.css">
    <link href="~/Assets/Admin/css/font-style.css" rel="stylesheet" />
    <!-- endinject -->
    <link rel="shortcut icon" href="/Assets/Admin/images/favicon.png" />
</head>

<body ng-app="converging" ng-controller="rootController">
    <div class="container-scroller" ui-view>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Assets/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Assets/Admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Assets/Admin/js/off-canvas.js"></script>
    <script src="/Assets/Admin/js/misc.js"></script>
    <script src="~/Assets/Admin/js/dashboard.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/ngBootbox.js"></script>
    <script src="~/Assets/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/Admin/ckfinder/ckfinder.js"></script>
    <script src="~/app/shared/modules/converging.common.js"></script>

    <script src="~/app/shared/filters/statusFilter.js"></script>

    <script src="~/app/shared/serivces/apiService.js"></script>
    <script src="~/app/shared/serivces/notificationService.js"></script>
    <script src="~/app/shared/serivces/commonService.js"></script>

    <script src="~/app/shared/directives/pagerDirective.js"></script>

    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/components/products/products.module.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>

    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>

    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>

    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
    <!-- End custom js for this page-->
</body>

</html>


